<style>
body {
  margin: 0px;
}
div.header {
  margin: 0px;
  background-color: #3B5998;
  height:50px;
  width: 100%;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  margin-bottom:12px;
}
div.title {
  float:left;
  font-size: 2em;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
}
div.about {
  float: right;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 10px;
  padding-top: 15px;
  cursor: pointer;
}
</style>
<div class="header">
<div class="title">Realtime Graph Generation</div>
<div class="about" onclick="javascript: about();">About</div> 
</div>